/proyecto/proyecto1/Taxi/nbproject/private/
/proyecto/proyecto1/Taxi/build/
/proyecto/proyecto1/SimMachinesTest/nbproject/private/
/proyecto/proyecto1/SimMachinesTest/build/
/proyecto/proyecto2/Taxi/build/
/proyecto/proyecto2/Taxi/nbproject/private/
/proyecto/proyecto1/TaxiKarma/nbproject/private/
/proyecto/proyecto1/TaxiKarma/build/
/proyecto/proyecto2/TaxiKarma/build/
/proyecto/proyecto2/TaxiKarma/nbproject/private/